@use "abstracts" as *;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;

  @include respond-to(sm) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include respond-to(xl) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
