@use "abstracts" as *;

.page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1rem;

  @include respond-to(sm) { padding-inline: 1.5rem; }
  @include respond-to(lg) { padding: 4rem 3rem; }
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.5px;
  color: var(--color-primary);
}
